@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  min-height: 130vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.discover {
  position: absolute;
  top: 35%;
  right: 0%;
  width: 320px;
/*  height: 400px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 10px;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.discover:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}

.discover2 {
  position: absolute;
  top: 20%;
  right: -62.5%;
  width: 100%;
/*  height: 400px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 10px;
  background: rgba(255,255,255,0);
/*  box-shadow: 0 0 8px rgba(0, 0, 0, .7);*/
}

.discover2:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}

.discover3 {
  position: absolute;
  top: 200%;
  right: -70.5%;
  width: 100%;
/*  height: 400px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 10px;
  background: rgba(255,255,255,0);
/*  box-shadow: 0 0 8px rgba(0, 0, 0, .7);*/
}

.discover3:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}

.discover4 {
  position: absolute;
  top: 47%;
  right: 7%;
  width: 350px;
/*  height: 400px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 10px;
  background: rgba(255,255,255,1);
/*  box-shadow: 0 0 8px rgba(0, 0, 0, .7);*/

}

.discover4:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}

.discover5 {
  position: absolute;
  top: -5%;
  left: 40%;
/*  width: 350px !important;*/
/*  height: 400px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 10px;
  background: rgba(255,255,255,1);
/*  box-shadow: 0 0 8px rgba(0, 0, 0, .7);*/
}

.discover5:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}

.discover6 {
  position: absolute;
  top: 3590px;
  left: 65%;
/*  width: 350px !important;*/
/*  height: 400px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 10px;
  background-color: rgba(255,255,255,1);
  z-index: 8000;
/*  box-shadow: 0 0 8px rgba(0, 0, 0, .7);*/
}

.discover6:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

/*.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}*/

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
/*  text-shadow: 0 2px 2px #000;*/
}

#title {
  background-image: url("../img/wok-min.jpg");
   background-attachment: fixed;  
}

#slide1:before {
  background-image: url("../img/section-dark.png");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("../img/slide2_background-min.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("../img/slide3_background.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

/*#slide4 {
  background: #222;
  transform: translateZ(-1px) scale(2);
  z-index:-2;
}*/

.row{
    max-width: 100% !important;
    font-family: 'Raleway', sans-serif;
}
.first{
    background-color: rgba(172,132,81,0.6);
    font-family:'Raleway', sans-serif;
    font-size: 0.7rem;
    width: 100%;
    margin: 0;
    text-align: left;
}
.first div:last-of-type{
    text-align: right;
    padding: 0;
    padding-right: 100px;
}
.nav1 li:last-of-type{
    border-right:none;
}
.nav1{
    padding: 2px;

}
.first div{
    padding: 5px;
    display: inline-block;
    height: 30px;
}
.first img{
    width: 0.7rem;
    height: 0.7rem;
    padding-bottom: 0.1rem;
}

.first li{
    display: inline-block;
    border-right: 1px solid rgba(255,255,255,1);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.first a{
    color: rgba(255,255,255,1);
    font-family:'Raleway', sans-serif;
    font-size: 0.7rem;
}
.first a:hover{
    border-bottom: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}
.second{
    color: rgba(0,0,0,1);
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: rgba(255,255,255,1);
    padding-top: 1%;
    padding-bottom: 1%;
}
.second span, .seventh span{
    font-weight: 800;
}

.nav2{
    padding-top: 2%;
}
.nav2 li{
    display: inline-block;
    margin-right: 1rem;
}

.black-border{
    margin-top: 1%;
}
.black-border a{
    padding: 0.2rem;
    border: 1px solid black;
    color: rgba(0,0,0,1);
}
.black-border a:hover{
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
}

.nav2 a{
    color: rgba(0,0,0,1);
    font-weight: 400;
    font-size: 0.9rem;
}
.nav2 a:hover{
    color:rgba(172, 132,81,0.6);
}
.third{
    padding-left: 6rem;
}
.third h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.5rem;
}
.third h2{
    font-family: 'Kristi', cursive;
    color: rgba(172,132,86,0.8);
    padding-top: 12rem;
}
.third span{
    font-weight: 400;
}
.third h6{
    font-weight: 300;
    text-transform: uppercase;
}

.fourth h1{
    font-weight: 100;
    padding: 4rem 0 1.5rem 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 100;
}
.fourth h6, .fourth h1{
    margin: 0;
    text-transform: uppercase;
}
.fourth h6{
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
}
.fourth h5{
    font-family: 'Kristi',cursive;
    margin-top: 0;
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.fifth{
    padding: 0 0 5rem 5rem;
}
.fifth div{
    padding-right: 0 !important;
}
.fifth img{
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.discover{
    padding: 1rem 2rem;
    width: 30%;
}

.discover h1{
    font-family: 'Kristi',cursive;
    font-size: 4rem;
    color: rgba(172,132,81,1);
    line-height: 0.8;
    letter-spacing: 0.1rem;
}
.discover h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 0.8;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.discover h3{
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0;
}
.discover p{
    font-size: 0.8rem;
}
.discover2{
  padding: 0;
}

.discover2 h1, .discover3 h1{
    font-family: 'Kristi', cursive;
    display: block;
    color: rgba(0,0,0,1);
    text-align: center;
}
.discover2 h1 span, .discover3 h1 span{
    text-transform: uppercase;
    font-size: 4rem;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    color: rgba(255,255,255,1);
}

.discover2 li{
  padding: 0 !important;
}
.discover2 img{
  overflow: hidden;
  min-height: 300px;
  min-width: 300px;
}
.food_description{
  padding: 1rem 0rem 1rem 0.8rem;
  background-image: url("../img/section-dark.png");
  max-height: 5rem;
}
.food_description h2{
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.food_description p{
  font-weight: 300;
  font-size: 0.8rem;
}
#slide3 h1{
  color: rgba(172,132,86,1);
  font-size: 5rem;
}
#slide3 .container{
  border: 1px solid red;

}
.sixth{
  background-image: url("../img/section-dark.png");
  padding: 6rem 4rem 4rem 4rem;
}
.test{
  overflow: hidden;
}
.discover3{
  width: 100%;
  margin: 0;
  padding: 0;
}
.discover4, .discover5, .discover6{
  padding: 2.0rem 2rem 0rem 2.5rem;
}

.discover4 h2, .discover5 h2, .discover6 h2{
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  padding: 0 0 1rem 0;
  color: black;
}

.discover4 h3, .discover5 h3, .discover6 h3{
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 180%;
}

.discover4 p, .discover5 p, .discover6 p{
  font-size: 0.8rem;
  font-weight: 300;
}
.sixth img{
  padding-top: 8rem;
  padding-left: 4rem;
  padding-right: 3rem;
}

.discover6{
  min-height: 450px;
}
.discover6 h2{
  font-family: "Raleway", sans-serif;
}

.sixth {
  min-height: 2500px;
  padding: 0;

}
.foot{
  background-color: rgba(40,40,40,1);
  color: rgba(255,255,255,1);
  margin-top: 10rem;
}

.seventh div{
  padding: 3rem 0rem 3rem 3rem;
  font-weight: 100;
}

.seventh h3{
  font-size: 1.2rem;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.seventh img{
  width: 50px;
}